<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="full_screen_container_center">
        <form class="form_center_container" action="<%= isEditing ? '/editChat' : '/newChat' %>" method="POST" enctype="multipart/form-data">
            <h2><%= isEditing ? 'EDIT CHAT' : 'NEW CHAT' %></h2>
            <label for="title">Title</label>
            <input 
                type="text" 
                name="title" 
                placeholder="Type a title..."
                value="<%= oldInput.title %>">
            <label for="description">Description</label>
            <textarea 
                type="text" 
                name="description" 
                placeholder="Type a description..."><%= oldInput.description %></textarea>
            <label>Select an image</label>
            <div class="custom-file-upload">
                <label for="chatImage"><img id="imgChat" src="/src/default_img.jpg"></label>
                <input 
                    type="file" 
                    id="chatImage" 
                    name="chatImage">
            </div>
            <% if (errorMessage) { %>
                <div class="error_container">
                    <span><%= errorMessage %></span>
                </div>
            <% } %>
            <input 
                type="hidden" 
                name="chatId" 
                value="<%= oldInput.id %>">
            <input
                type="hidden"
                name="_csrf"
                value="<%= csrfToken %>">
            <button type="submit"><%= isEditing ? 'EDIT CHAT' : 'CREATE CHAT' %></button>
        </form>
    </div>
<script src="/js/newChat.js"></script>
<%- include('../includes/end.ejs') %>