<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="form_container">
        <form class="center_container" action="/login" method="POST">
            <h1>Login</h1>
            <label>E-mail</label>
            <input type="text" name="email" placeholder="Type your E-mail..." value="<%= oldInput.email %>">
            <label>Password</label>
            <input type="password" name="password" placeholder="Type your password..." value="<%= oldInput.password %>">
            <a href="" id="fgt_password">Forgot password?</a>
            <button type="submit">LOGIN</button>
            <% if (errorMessage) { %>
                <div class="error_container">
                    <span><%= errorMessage %></span>
                </div>
            <% } %>
            <label class="center">Or sign up using</label>
            <a class="sgu_btn" href="/signup">SIGN UP</a>
        </form>
    </div>

<%- include('../includes/end.ejs') %>