<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('includes/navbar.ejs') %>
    <div class="home_container">
        <div class="chat_line">
            <% let count = 1 %>

            <div class="home_item">
                <a href="/newChat"><img class="newChatButton" src="/src/plus.png"></a>
            </div>

            <% chats.forEach(chat => { %>
                <div class="home_item">
                    <a href="/chat/<%= chat._id %>"><img class="newChatButton" src="<%= chat.imageName ? '/chat_img/' + chat.imageName : '/src/default_img.jpg' %>"></a>
                    <p><%= chat.name %></p>
                </div>

                <% if (count === 4) { %>
                    </div>
                    <div class="chat_line">
                    <% count = -1 %>
                <% } %>

                <% count += 1; %>
            <% }) %>
        </div>
    </div>

<%- include('includes/end.ejs') %>