<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('includes/navbar.ejs') %>
    <div class="full_screen_container_center">
        <div class="chats_container">

            <div class="button_container">
                <div class="button_area">
                    <a href="/newChat"><img class="newChatButton" src="/src/plus.png"></a>
                </div>
            </div>

            <% chats.forEach(chat => { %>
                <div class="button_container">
                    <div class="button_area">
                        <a href="/chat/<%= chat._id %>"><img class="newChatButton" src="<%= chat.imageName ? '/chat_img/' + chat.imageName : '/src/default_img.jpg' %>"></a>
                    </div>
                    <p><%= chat.name %></p>
                </div>
            <% }) %>
        </div>
    </div>

<%- include('includes/end.ejs') %>